<div class="d-flex flex-column justify-content-end h-100">
  <div class="flex-grow-1 overflow-auto" #scrollMe>
    <table class="table table-borderless table_messages">
      <tbody>
        @for (message of this.screenReadyMessage(); track message.id) {
          <tr class=".bg-transparent message_row">
            <td class="chat_icon_content ">
              @if (message.role == "assistant") {
                <img class="chat_icon chat_assistant_icon">
              } @else {
                <img class="chat_icon chat_user_icon">
              }
            </td>
            <td class="chat_text_content">
              <div class="content">
                <div>
                  <pre [appHighlight]=message.content.toString()></pre>
                </div>
                <div class="accordion accordion-flush" id="accordionFlushExample"
                     [style.display]="message.sources.length==0?'none':'normal'">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              [attr.data-bs-target]="'#collapseId_'+message.id" aria-expanded="false"
                              [attr.aria-controls]="'collapseId_' + message.id">

                        Sources
                      </button>
                    </h2>
                    <div [id]="'collapseId_' + message.id" class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        @for (source of message.sources; track source) {
                          @if (source.type == "document") {
                            <a href="" (click)="displaySource($event,  source.blob_id, source.page, source.text)"
                               title="{{source.text}}">Document
                              : {{ source.file_name }}
                              page : {{ source.page }}</a><br>
                          } @else if (source.type == "href") {
                            <a href=""
                               (click)="displayHrefSource($event,  source.file_name, source.text)"
                               title="{{source.blob_id}}">{{ source.file_name }}</a><br>
                          }
                        }
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <button
                type="button"
                tabindex="0"
                class="btn btn-sm btn-minimal btn-neutral code-sample-copy-float"
                aria-label="Copy"
                appCopyButton
                [textToCopy]="message.content.toString()"> <!-- Text to be copied -->
                <span class="btn-label-wrap">
    <span class="btn-node start-node">
      <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="currentColor" viewBox="0 0 24 24"
           class="animate-in">
        <path fill-rule="evenodd"
              d="M7 5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-2v2a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3v-9a3 3 0 0 1 3-3h2V5Zm2 2h5a3 3 0 0 1 3 3v5h2a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-9a1 1 0 0 0-1 1v2ZM5 9a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h9a1 1 0 0 0 1-1v-9a1 1 0 0 0-1-1H5Z"
              clip-rule="evenodd"></path>
      </svg>
    </span>
  </span>
              </button>
            </td>
          </tr>
        }

      </tbody>
    </table>
  </div>
  <div class="inputcontent">
    <textarea class="form-control chat_input_component" [(ngModel)]="inputMessage" (keyup)="onKeyUp($event)"
              rows="3"
              [disabled]="!stateManagerService.chatEnabled()"></textarea>
    <div class="button-group">
      <button class="chat_button" (click)="clearInput()"
              [disabled]="!stateManagerService.chatEnabled()">Clear
      </button>
      <button class="chat_button" (click)="runAction()" [disabled]="!stateManagerService.chatEnabled()">
        Run
      </button>
      @if (listening()) {
        <button aria-label="Record voice note" (click)="startRecording()"
                [ngClass]="{'recording-class': isRecording(), 'not-recording-class': !isRecording()}">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" >
            <path fill="currentColor"
                  d="M11.999 14.942c2.001 0 3.531-1.53 3.531-3.531V4.35c0-2.001-1.53-3.531-3.531-3.531S8.469 2.35 8.469 4.35v7.061c0 2.001 1.53 3.531 3.53 3.531zm6.238-3.53c0 3.531-2.942 6.002-6.237 6.002s-6.237-2.471-6.237-6.002H3.761c0 4.001 3.178 7.297 7.061 7.885v3.884h2.354v-3.884c3.884-.588 7.061-3.884 7.061-7.885h-2z"></path>
          </svg>
        </button>
      }
    </div>
    @if(stateManagerService.chatFullScreen()){
    <div class="focus-document-div">{{stateManagerService.documentName()}}</div>
    }
  </div>
</div>





