/**********************************************************************************************************************/
/*                                                position of the buttons & windows                                   */
/**********************************************************************************************************************/

.chat {
  content: url("../../assets/chatgpt.png");
  height: 20px;
  float: right;
  font-family: 'Inter Semi Bold', sans-serif;

}

/**********************************************************************************************************************/
/*                                                intra component css                                                  */
/**********************************************************************************************************************/

.chat_icon {
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-repeat: no-repeat;
  margin-top: 1px;

}

.chat_user_icon {
  content: url("../../assets/avatar_user.png");

}

.chat_assistant_icon {
  content: url("../../assets/logo.png");
  background-color: #0FA47F;
  padding-top: 2px;

}

.chat_icon_content {
  display: flex;
  align-items: center;
  justify-content: center; /* Only if you want horizontal centering as well */

}

.chat_text_content {
  color: white;
  width: 100%;
  padding-top: 8px;
  background-color: rgb(248, 249, 250);
}

/*All*/

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(248, 249, 250);
  border-radius: 1px;
  border: 1px solid rgb(248, 249, 250);
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.inputcontent {
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 65px;
}

.chat_button {
  margin: 1px
}

.btn {
  background-color: white; /* Light background for the button */
  color: white; /* Matching the content background color */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px; /* Optional: Round the corners for a nicer look */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
}

.btn .btn-label-wrap {
  display: flex;
  align-items: center;
}

.btn .btn-node.start-node {
  display: flex;
  align-items: center;
}

.code-sample-copy-float svg {
  fill: gray;
}

.code-sample-copy-float:hover svg {
  fill: black;
}



