<div class=" h-100 position-relative justify-content-center align-items-center ">
  <div class="h-90 overflow-auto" #scrollMe>
    <table class="table table-borderless table_messages">
      <tbody>
        @for (message of screenReadyMessages(); track message.id) {
          <tr class=".bg-transparent mt-5">
            <td class="chat_icon_content ">
              @if (message.role == "assistant") {
                <img class="chat_icon chat_assistant_icon">
              } @else {
                <img class="chat_icon chat_user_icon">
              }
            </td>
            <td class="chat_text_content">
              <div class="content">
                <div class="message">
                  {{ message.content.toString() }}
                </div>
                <div class="accordion accordion-flush" id="accordionFlushExample"
                     [style.display]="message.sources.length==0?'none':'normal'">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              [attr.data-bs-target]="'#collapseId_'+message.id" aria-expanded="false"
                              [attr.aria-controls]="'collapseId_' + message.id">

                        Sources
                      </button>
                    </h2>
                    <div [id]="'collapseId_' + message.id" class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        @for (source of message.sources; track source) {
                          <a href="" (click)="displaySource($event,  source.blob_id, source.page)">Document : {{ source.file_name }}
                            page : {{ source.page }}</a><br>
                        }
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        }

      </tbody>
    </table>
  </div>
  <div class="position-absolute bottom-5 w-100 start-50 translate-middle">
    <input type="text" class="form-control  chat_input_component " [(ngModel)]="inputMessage"
           (keyup)="onKeyUp($event)">
  </div>
</div>





