.container {
  display: flex;
  flex-wrap: wrap;
  color:black;
}

h2 {
  margin-top: 10px; /* Ensure consistent margin at the top of each section */
  margin-bottom: 20px;
}

.row {
  width: 100%;
  display: flex;
}

.groupinput{
  border: none;
}

.col-md-4 {
  flex: 1;
  min-width: calc(33.3333% - 20px); /* Ensures three columns fit within the container */
  margin: 10px;
}

h2 {
  text-align: center;
}

.label,
.label + .list-group {
  margin-top: 20px;
}
.hidden{
  display: none;
}

.bi-trash {
  color: red;
}

.share_th{
  background-color:  #F8F9FA;
}

.label_share{
  margin-bottom: 10px;
  align-self: flex-start;
}

.button_share{
  margin-top: 10px;
}

.share_container {
  display: flex;
  flex-direction: column;  /* Stack children vertically */
}



/* New CSS class to align button to the end (right) */
.align-end {
  align-self: flex-end;
  margin-top: 10px; /* Adds margin to keep a bit of space between input and button */
}

/* Ensure the input takes full width */
input.form-control {
  width: 100%;
}
