<nav class="navbar navbar-expand-lg bg-body-tertiary toolbar app-toolbar" [class.blurred]="blurWindow()">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="userContextService.isLogged()">
        <li class="nav-item">
          <a class="nav-link" (click)="loadAssistant()">Assistants</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Documents
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/dashboard/">Dashboard</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li><a class="dropdown-item" (click)="openFileUploadDialog()">Add document</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="/share/">Share document</a></li>


          </ul>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" routerLink="/admin/">Admin</a>
        </li>
      </ul>

    </div>
  </div>

</nav>

<div class="container-fluid full-height-minus-menu app_content" [class.blurred]="showModal">
  <div class="row">
    <!-- Left Sidebar -->
    <div class="h-100 sidebar shared_side" #sidebar *ngIf="isLoggedIn()">
      <div class="sidebar-content">
        <chat-component></chat-component>

      </div>
    </div>

    <!-- Right Content -->
    <div [ngClass]="{'main-content shared': isLoggedIn(), 'main-content notshared': !isLoggedIn()}" #mainContent>
      <router-outlet></router-outlet>

    </div>

  </div>


</div>

<app-file-upload-dialog [showModal]="showModal" (closeModal)="closeModal()"></app-file-upload-dialog>

