
.blurred {
  filter: blur(5px); /* Adjust the blur intensity here */
  pointer-events: none; /* Disable interactions with the blurred background */
  user-select: none; /* Optional: Disable text selection on blurred content */
  background-color: lightgray;
}

.app-toolbar {
  height: 40px;
  margin: 0px;
  padding: 0px;
  background-color: #dcdddf !important;
}


.row {
  height: 100%;
  margin: 0px;
}

#sidebar {
  background-color: lightgray;
  overflow-x: hidden;
  transition: width 0.5s;
  margin: 0px;
}

.full-height-minus-menu {
  height: calc(100% - 40px);
  padding: 0px;
}

.app_content {
  background-color: white;
  color: white;
  border-bottom: white solid 1px;
  border :0px
}


.main-content{
  padding:5px;
}

.shared{
  width:45%;
}

.notshared{
  width:100%;

}

.sidebar{
  padding: 5px;
  border-right: lightgray 1px solid;
}
.sidebar-content {
  transition: opacity 0.5s;
  height: 100%;

}


.collapsed_side {
  width: 0;
}

.collapsed_side .sidebar-content {
  opacity: 0;
  display: none;
}


.full {
  width: 100%;
}


.shared_side {
  width: 55%;
  padding-top: 25px;
}


.chat_assistant_icon {
  /* Specify the URL of the image */
  background-image: url('../assets/chatgpt.png');

  /* Set the size of the background image */
  background-size: cover; /* Cover the entire div */
  /* or */
  background-size: contain; /* Fit the entire image inside the div */

  /* Specify other properties like background position and repeat if needed */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  /* or */
  background-repeat: repeat; /* Repeat the background image */



}

.nav-link{
  cursor: pointer;
}

.dropdown-item{
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust color and opacity as needed */
  z-index: 9998; /* Just below the popup */
}

.overlay::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px; /* Adjust the size of the icon */
  height: 100px; /* Adjust the size of the icon */
  background-image: url('../assets/animated.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

