<div class="dashboard-container">
  <div class="refresh-dashboard-container">
    <button class="refresh-dashboard" (click)="refreshDashboard()"> {{ buttonLabel }}</button>
  </div>
  <div class="accordion" id="accordionExample">

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
          My Documents
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">

          <table class="table table-borderless table_documnents">
            <thead>
            <tr>
              <th class="document_header_content">Document</th>
              <th class="document_header_content">Status</th>
              <th class="document_header_content">Summary</th>
              <th class="document_header_content">Date uploaded</th>
              <th class="document_header_content">Action</th>
            </tr>
            </thead>
            <tbody>


              @for (document of documents(); track document; let index = $index) {
                <tr class=".bg-transparent mt-5">
                  <td class="document_text_content">
                    <a href (click)="onDisplayPDF($event,  document.id)">{{ document.name |capitalize }} </a>
                  </td>
                  <td class="document_text_content">
                      {{ document.document_status }}
                  </td>
                  <td class="document_text_content">
                    @if (document.summary_status == DocumentStatus.COMPLETED) {
                      <button class="pdf_button" (click)="onDisplayPDF($event,  document.summary_id)">View</button>
                    } @else if (document.summary_status == DocumentStatus.NONE) {
                      <button class="pdf_button" (click)="createSummaryJob($event,  document.id)">Request</button>
                    } @else {
                      {{ document.summary_status }}
                    }
                  </td>
                  <td class="document_text_content">
                    {{ document.created_on }}
                  </td>
                  <td class="document_text_content">
                    <button class="pdf_button_delete"  (click)="deleteDocument(document.id)">Delete</button>
                  </td>
                </tr>
              }

            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="true" aria-controls="collapseFour">
          My Summaries
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">

          <table class="table table-borderless table_documnents">
            <thead>
            <tr>
              <th class="document_header_content">Summary</th>
              <th class="document_header_content">Owner</th>
              <th class="document_header_content">Date uploaded</th>
              <th class="document_header_content">Action</th>
            </tr>
            </thead>
            <tbody>


              @for (summary of summaries(); track document; let index = $index) {
                <tr class=".bg-transparent mt-5">
                  <td class="document_text_content">
                    <a href (click)="onDisplayPDF($event,  summary.id)">{{ summary.name |capitalize }} </a>
                  </td>
                  <td class="document_text_content">
                    {{ summary.owner }}
                  </td>
                  <td class="document_text_content">
                    {{ summary.created_on }}
                  </td>
                  <td class="document_text_content">
                    <button class="pdf_button_delete"  (click)="deleteDocument(summary.id)">Delete</button>
                  </td>
                </tr>
              }

            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="true" aria-controls="collapseFive">
          My Templates
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">

          <table class="table table-borderless table_documnents">
            <thead>
            <tr>
              <th class="document_header_content">Template</th>
              <th class="document_header_content">Date uploaded</th>
              <th class="document_header_content">Action</th>
            </tr>
            </thead>
            <tbody>


              @for (template of templates(); track template; let index = $index) {
                <tr class=".bg-transparent mt-5">
                  <td class="document_text_content">
                    <a href (click)="onDisplayPDF($event,  template.id)">{{ template.name |capitalize }} </a>
                  </td>
                  <td class="document_text_content">
                    {{ template.created_on }}
                  </td>
                  <td class="document_text_content">
                    <button class="pdf_button_delete"  (click)="deleteDocument(template.id)">Delete</button>
                  </td>
                </tr>
              }

            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="accordion" id="accordionPerimeter">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
            Search perimeter
          </button>
        </h2>

        <div class="form-container">

          <form [formGroup]="formPerimeter">
            <div class="shares_title">Groups</div>
            <div class="line-separator"></div>
            <div formArrayName="checkboxesPerimeter" class="form-check form-switch">
              @for (checkbox of checkboxesFormPerimeterArray.controls; track checkbox; let index = $index) {
                <div [formGroupName]="index" class="share_item">
                  <input type="checkbox" class="form-check-input" role="switch" formControlName="value">
                  <label class="form-check-label">{{ checkbox.get('label')?.value }}</label>
                </div>
              }
            </div>
          </form>
          <form [formGroup]="formShare">
            <div class="shares_title">Shares</div>
            <div class="line-separator"></div>
            <div formArrayName="checkboxesShare" class="form-check form-switch">
              @for (checkbox of checkboxesFormShareArray.controls; track checkbox; let index = $index) {
                <div [formGroupName]="index" class="share_item">
                  <input type="checkbox" class="form-check-input" role="switch" formControlName="value">
                  <label class="form-check-label">{{ checkbox.get('label')?.value }}</label>
                </div>
              }
            </div>
          </form>
        </div>


      </div>

    </div>
  </div>
</div>
