
.table_documnents {

  width: 100%;
}


.document_header_content {

  color: black;
  font-weight: normal;
  border-bottom: lightgray solid 1px;
  padding-top: 13px;
}


.document_text_content {

  color: black;

}

.document_text_content_selectable:hover {
  font-style: italic;
  cursor: pointer;
}

.accordion-button {
  background-color: #dcdddf;
  color: black;
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem #444654;
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.form-container form {
  flex: 1;
  margin-right: 20px; /* Adjust the margin as needed */
  margin-top: 10px;
}

.link_summary {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1)); /* Text color */
  text-decoration: underline; /* Underline text to mimic a link */
  cursor: pointer; /* Mouse pointer to indicate clickable element */

  /* Common styles for typical <a> elements */
  display: inline;
  margin: 0;
  padding: 0;
}

/* Adding hover effect to emphasize the link behavior */
.link_summary:hover {
  color: #0000EE; /* Typically, links become blue on hover */
  text-decoration: none; /* Sometimes links lose their underline on hover */
  cursor: pointer; /* Ensure pointer cursor on focus/active */
}

/* Adding focus and active states for better accessibility */
.link_summary:focus,
.link_summary:active {
  outline: 1px dotted #0000EE; /* Show an outline to indicate focus */
  color: #EE0000; /* Change color if active */
  cursor: pointer; /* Ensure pointer cursor on focus/active */
}

.dashboard-container {
  margin-top: 20px;
}

.refresh-dashboard {
  color: black;
  text-align: start;
  padding-right: 4px !important;
  padding-bottom: 4px !important;
  cursor: pointer; /* Ensure pointer cursor on focus/active */

}

.pdf_button {
  width: 100%;
}

.pdf_button_delete{
  border-color: red;
  color: red;
}

.refresh-dashboard-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.shares_title{
  margin-bottom: 10px;
  background-color: #F8F9FA;
}

.share_item{
  margin-bottom: 5px;
}

.sortable_column{
  cursor: pointer;
}


