

.modal.show {
  display: block;
  z-index: 9999;
}

.modal-dialog {
  position: relative;
  transform: translateY(-50%);

}

/* Ensure the modal is properly centered and has adequate spacing */
.modal-dialog {
  max-width: 80%;

}


.modal-content {
  padding: 20px;
}
.modal-title{
  color: black;
}

/* Add spacing between the column headers and lists */
.col-12 h5 {
  margin-bottom: 20px;
}

.list-group-item {
  cursor: pointer; /* Change cursor to indicate interactivity */
}

.list-group-item:hover {
  background-color: #f1f1f1; /* Lighten background on hover for better UX */
}

ul.list-group {
  max-height: 300px; /* Limit height */
  overflow-y: auto; /* Add scroll if necessary */
}

/* Add some spacing between the lists */
.row .col-12 {
  margin-bottom: 20px;
}


.table_documnents {

  width: 100%;
  min-height: 200px;
}


.document_header_content {
  background-color: #F8F9FA;
  color: black;
  font-weight: normal;
  border-bottom: white solid 1px;
  padding-top: 13px;

}

.document_header_action_content{
  background-color: #F8F9FA;;
  color: black;
  font-weight: normal;
  border-bottom: white solid 1px;
  padding-top: 13px;
  width : 15%

}


.document_text_content {
  background-color: white;
  color: black;
  cursor: pointer;
}

.document_action_content {
  background-color: white;
  color: black;
  display: flex;
  justify-content: flex-end;

}

.document_text_content_selectable:hover {
  font-style: italic;
  cursor: pointer;
}

.table-container{


}

.column-container{
  background-color: white;
}


.dropdown-menu {
  top: 100%; /* Adjust as necessary */
  left: 0; /* or right: 0; */
  will-change: top, left; /* Enables optimized animations */
}
