
.blurred {
  filter: blur(5px); /* Adjust the blur intensity here */
  pointer-events: none; /* Disable interactions with the blurred background */
  user-select: none; /* Optional: Disable text selection on blurred content */
  background-color: lightgray;
}

.title {
  font-size: 30px;
  color: black;
}

.assistant-main-class {
  display: flex;
  flex-direction: column;
  gap: 50px; /* Optional: to add space between elements */
  margin: 30px;
  color: black;

}

.assistant-block-class {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Optional: to add space between elements */
}

.assistant-txtarea-class {

  color: black;
  width: 90%;
  height: 120px;
  text-align: left;
}


.assistant-button-class {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: flex-end; /* Align children to the right */

}


.assistant-button-command-class {
  border-radius: 5px; /* You can adjust the value as needed */
  border: 1px solid black; /* Adding a border to ensure visibility */
  background-color: #F8F9FA;

}

.assistant-button-command-class:focus {

  border-color: black;


}

.assistant-btn-class {
  border-radius: 5px; /* You can adjust the value as needed */
  background-color: white;
  border: 1px solid lightgray;
  width: 100%;
  height: 40px;
  text-align: center;
}

.assistant-btn-class:focus {
  border-color: #86b7fe; /* Blue border color */
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.assistant-label {
  background-color: rgb(248, 249, 250);
  color: black;
  font-weight: normal;
  border-bottom: white solid 1px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  width: 100%;
}

.assistant-label-documents {
  margin-bottom: 20px;
}

.assistant-name-input {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  color: black;
}

.my_documents_label {
  margin-left: 5px;
  margin-right: 5px;
}


.assistant-name-input:focus {
  border-color: #86b7fe; /* Blue border color */
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}


