
.table_documnents {

  width: 100%;
}


.document_header_content {
  background-color: #444654;
  color: white;
  font-weight: normal;
  border-bottom: white solid 1px;
  padding-top: 13px;
}


.document_text_content {
  background-color: #444654;
  color: white;

}

.document_text_content_selectable:hover {
  font-style: italic;
  cursor: pointer;
}

.accordion-button {
  background-color: #444654;
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem #444654;
}


.accordion-button.collapsed {
  background-color: white !important;
  color: #444654;


}

.accordion-button:not(.collapsed) {

  color: white;
}

.addconversation {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 24px;
}

.addconversationtext {
  margin-top: 13px;
  margin-left: 10px;
  align-content: center;
  font-size: 16px;
  font-weight: bold;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.form-container form {
  flex: 1;
  margin-right: 20px; /* Adjust the margin as needed */
}

.form-container form:last-child {
  margin-right: 0;
}

.line-separator {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}

.shares_title{
  font-size: 16px !important;

  text-align: center;

}
