
.table_documnents {

  width: 100%;
}


.document_header_content {
  background-color: #444654;
  color: white;
  font-weight: normal;
  border-bottom: white solid 1px;
  padding-top: 13px;
}


.document_text_content {
  background-color: #444654;
  color: white;

}

.document_text_content_selectable:hover {
  font-style: italic;
  cursor: pointer;
}

.accordion-button {
  background-color: #444654;
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem #444654;
}


.accordion-button.collapsed {
  background-color: white !important;
  color: #444654;


}

.accordion-button:not(.collapsed) {

  color: white;
}

.addconversation {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 24px;
}

.addconversationtext {
  margin-top: 13px;
  margin-left: 10px;
  align-content: center;
  font-size: 16px;
  font-weight: bold;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.form-container form {
  flex: 1;
  margin-right: 20px; /* Adjust the margin as needed */
}

.form-container form:last-child {
  margin-right: 0;
}

.line-separator {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}

.shares_title{
  font-size: 16px !important;

  text-align: center;

}
.link_summary {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));          /* Text color */
  text-decoration: underline; /* Underline text to mimic a link */
  cursor: pointer;          /* Mouse pointer to indicate clickable element */

  /* Common styles for typical <a> elements */
  display: inline;
  margin: 0;
  padding: 0;
}

/* Adding hover effect to emphasize the link behavior */
.link_summary:hover {
  color: #0000EE;          /* Typically, links become blue on hover */
  text-decoration: none;   /* Sometimes links lose their underline on hover */
  cursor: pointer; /* Ensure pointer cursor on focus/active */
}

/* Adding focus and active states for better accessibility */
.link_summary:focus,
.link_summary:active {
  outline: 1px dotted #0000EE; /* Show an outline to indicate focus */
  color: #EE0000;              /* Change color if active */
  cursor: pointer; /* Ensure pointer cursor on focus/active */
}

